@model Dictionary<string, Congratulation> 
@{
    ViewData["Title"] = "Home Page";
}

    <div class="uk-column-1-1@s uk-column-1-2@m uk-column-1-3@l uk-width-medium uk-width-xlarge@m uk-width-2xlarge@l">
        @foreach (Congratulation con in Model.Values.Take(6))
        {
            <div class="uk-margin-large-bottom uk-animation-toggle" style="z-index: @(10-@con.Id); ">
                <ul class="uk-thumbnav">
                    <li>
                        <a uk-toggle="target: #modDialog" asp-action="Congratulation" asp-route-id="@con.Id" class="congrItem">
                            <img src="@con.Photo" style="border: 3px solid white; border-radius: 40px;" class="uk-height-medium@l uk-height-large@m uk-width-medium uk-animation-kenburns uk-animation-fast uk-transform-origin-top-center">
                        </a>
                    </li>
                </ul>
            </div>
        }
        <div class="uk-column-span uk-animation-toggle">
            <ul class="uk-thumbnav"><li><a uk-toggle="target: #modDialog" asp-action="Congratulation" asp-route-id="@Model["all"].Id" class="congrItem"><img src="@Model["all"].Photo" style="border: 3px solid white; border-radius: 40px;" class="uk-width-expand uk-animation-kenburns uk-animation-fast uk-transform-origin-bottom-center"></a></li></ul>
        </div>
    </div>

<div id="modDialog" uk-modal>
    <div id="dialogContent" class="uk-modal-dialog uk-margin-auto-vertical"></div>
</div>

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });
            $(".congrItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    console.log(data);
                    $('#dialogContent').html(data);
                    //$('#modDialog').modal('show');
                });
            });
        })
    </script>
}